body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
    margin: 0px;
}

.principal {
    background-image: url(imagens/bg-2.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
    border-top: 1px solid transparent;
}

.hero-content {
    text-align: center;
    color: white;
    margin-top: 40px;
}

.hero-content h1 {
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.541);
}
.principal nav ul {
    text-align: right;
    margin: 20px 50px 0px 0px;
}

.principal nav li {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    border: 1px solid white;
}

.principal nav a {
    background-color: rgba(0, 0, 0, 0.301);
    color: white;
    font-size:0.9em;
    letter-spacing: 2px;
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.principal nav a:hover {
    background-color:  rgba(0, 0, 0, 0.459); ;
}


main {
    width: 80%;
    margin: auto;
}

.content-section {
    background-color:white ;
    padding: 15px;
    margin-top: 15px;
}

article > h2 {
    color: black;
    background-color: rgba(192, 192, 192, 0.473);
    padding: 15px;
    margin-bottom: 40px

}

footer > p {
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.349);
    padding: 25px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.171);
}
